/*
 *Name: Hechun Zhang
 *UnityID: Hzhang56
 *Date: 9/18/2020
 *Assignment: Independent Assignment 5 (HTML and Styling)
 *Description: Create a website about me
 */
 


body {  
<img src="anime.JPG">;
}

#photo-resize {
    max-width: 200px ;
	max-height: 250px ;
}

.photo-border {
    border: 2px solid #00FF00;
}
.table-border {
    border: 1px solid #000000;
}
